@model IEnumerable<BrandModel>


@if (!Model.Any())
{
	<div class="alert alert-warning">Không có danh mục nào được tìm thấy.</div>
}
else
{
	@foreach (var item in Model)
	{
		<!--category-productsr-->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">

					<a asp-action="Index" asp-controller="Brand" asp-route-Slug="@item.Slug">@item.Name </a>
			
				</h4>
			</div>
		</div>

	}
}