@if(TempData["success"]!=null){
    <div class="alret alret-success notification">
        @TempData["success"]
    </div>
}
@if(TempData["error"]!=null){
<div class="alret alret-danger notification">
    @TempData["error"]
</div>
}